//fonts
@font-face {
    font-family: "Gotham";
    src: url("../../assets/fonts/gotham-light-webfont.woff") format("woff")
}
body::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Gotham', Helvetica, sans-serif, sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    background-color: #f5f5f5;
}
.btn{
    font-size: 0.75rem;
}
.btn-primary{
    background-color: #E8E9EB !important;
    border: none;
    color: #161616;
    // font-weight: 500;
}
a{
    text-decoration: none;
    color: black;
}
h6{
    font-size: 0.9rem;
}